/**MODO OSCURO**/
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    background-color: #30343f;
    font-family: 'Roboto', sans-serif;
    font-family: 'Wix Madefor Display', sans-serif;
    justify-content: flex-end;

}

/**PORTADA PRINCIPAL/ HEADER Y MAIN**/


.contenedor-flex {
    display: flex;
    flex-direction: column;

}

.presentacion {
    flex-grow: 90;
    align-items: center;

}

.navegacion {
    padding: 10px;

}

.fondo-header {
    width: 100%;
    text-align: center;
    background-color: #191e2b;
    color: white;
    margin-bottom: 60px;
    padding: 20px;
}

.contenedor-meme {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 620px;
    background-color: black;
    background-size: cover;
    background-repeat: 'no-repeat';
    background-position: center;

}



.texto-superior-inferior {
    background-color: white;
    color: black;
    padding: 15px;
    margin: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;


}

.descarga-boton {
    background-color: #2e7d32;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Wix Madefor Display', sans-serif;
    border: none;
    cursor: pointer;
}

.descarga-boton:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition-property: box-shadow;
    transition-duration: 0.2s;
}


.botones {
    background-color: #191e2b;
    border-radius: 5px;
    padding: 5px;
    border: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.botones:hover {
    background-color: #5a5d68;
    border-radius: 5px;
    padding: 5px;
    transition-property: background-color;
    transition-duration: 0.5s;


}

/**COLUMNA IMAGEN/MODO OSCURO**/

.columna {
    padding: 15px;
    flex-grow: 1;
    background-color: #252935;
    color: white;
    width: 220px;
    height: 100vh;
    position: fixed;


}

.boton-cerrar {
    text-align: end;
}

.fondo {
    display: flex;
    ;
}

.contenedor-opciones-color {
    margin-top: 40px;
    margin-left: 10px;
}

.titulo-columna {
    text-align: center;
}

.titulo-filtro {
    margin-top: 40px;
}

.sub-filtros {
    font-size: 12px;
    padding: 7px 10px
}

.contenedor-input {
    background-color: #7b818d;
    border-radius: 5px;
    padding: 10px;
    border-style: hidden;
    color: white;

}


.contenedor-select {
    padding: 10px;
    margin-top: 30px;
    margin-left: 5px;

}

.contenedor-restauracion {
    color: white;
    margin-right: 60px;
    margin-top: 20px;
    font-size: 12px;
    cursor: pointer;
}

.subtitulos-columna {
    font-size: 12px;

}

.range {
    accent-color: #5a5d68;
}

input[type="color"] {
    appearance: none;
    background-color: transparent;
    width: 20px;
    height: 15px;
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;

}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}

/**COLUMNA-TEXTO**/

.fuente,
.contenedor-check {
    display: flex;
    margin-top: 5px;
}

.posicion-fuente {
    padding: 7px;
    padding-left: 15px;
    margin: 2px;
    cursor: pointer;
}

.icono-posicion {
    font-size: 18px;

}

.tamaño-fuente {
    width: 90px;
    padding: 10px;
    margin: 2px;
}

.contorno {
    display: flex;
    justify-content: space-around;
}

.contenedor-contorno {
    width: 70px;
    cursor: pointer;
}

.color-text {
    margin-right: 5px;
}

/**MODO CLARO**/

.modo-claro {
    background-color: #eeeeee;
}

.modo-claro-header {
    background-color: #e0e0e0;
    color: #424242;
}

.modo-claro-aside {
    background-color: #fafafa;
    color: #424242;
}

.contenedor-input-claro {
    background-color: #e0e0e0;
}

.botones-claro {
    background-color: #e0e0e0;
    color: black;

}

.oculto {
    display: none;

}



@media (max-width: 930px) {
    .columna {
        width: 100vw;
    }

    .body {
        justify-content: center;
    }

    aside {
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media (max-width: 600px) {
    .fondo-header {
        padding: 0px;
    }

    .contenedor-meme {
        width: 500px;
        height: 520px;
    }
}

@media (max-width: 530px) {
    .fondo-header {
        padding: 0px;
    }

    .contenedor-meme {
        width: 400px;
        height: 420px;
    }

    .texto-superior-inferior {
        padding: 0px;
        font-size: 25px;
    }
}

@media (max-width: 420px) {
    .contenedor-meme {
        width: 350px;
        height: 370px;
    }

    .texto-superior-inferior {
        padding: 0px;
        font-size: 20px;
    }
}

@media (max-width: 420px) {
    .contenedor-restauracion {
        margin: 0px;
        padding: 5px;
        margin-top: 10px;
    }
}

