/**MODO OSCURO**/
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    background-color: #30343f;
    font-family: 'Roboto', sans-serif;
    font-family: 'Wix Madefor Display', sans-serif;


}

/**PORTADA PRINCIPAL/ HEADER Y MAIN**/

.contenedor-flex {
    display: flex;
    flex-direction: column;

}

.presentacion {
    flex-grow: 90;
    align-items: center;

}

.navegacion {
    padding: 10px;
}

.fondo-header {
    width: 100%;
    text-align: center;
    background-color: #191e2b;
    color: white;
    margin-bottom: 60px;
    padding: 20px;
}

.centro-texto {
    width: 600px;
    height: 400px;
    background-color: black;
}

.texto-superior-inferior {
    background-color: white;
    color: black;
    height: 90px;
    margin: 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;

}

.descarga-boton {
    background-color: #2e7d32;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Wix Madefor Display', sans-serif;
}

/**COLUMNA IMAGEN/MODO OSCURO**/

.columna {
    padding: 15px;
    flex-grow: 1;
    background-color: #252935;
    color: white;
    width: 220px;
}

.fondo {
    display: flex;
    ;
}

.contenedor-opciones-color {
    margin-top: 40px;
    margin-left: 10px;
}

.titulo-columna {
    text-align: center;
}

.titulo-filtro {
    margin-top: 40px;
}

.sub-filtros {
    font-size: 12px;
    padding: 7px 10px
}

.contenedor-input, .icono-color, .contenedor-opciones-color {
    background-color: #393e49;
    border-radius: 5px;
    padding: 10px;
    border-style: hidden;
    
}

.contenedor-restauracion {
    color: white;
    margin-right: 60px;
    margin-top: 20px;
    font-size: 12px;
}

.subtitulos-columna {
    font-size: 12px;
    
}

.range{
    accent-color: #5a5d68;
}

input[type="color"] {
}

